@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:240, 4%, 5%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border:0, 0%, 20%;
    --input:260, 100%, 99%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gird-row{
  grid-row: 1 / -1;
}

.gradient-bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/images/section-bg.png')

}

/* clerk ui design overwrite  */
.cl-internal-105jsc1{
  background-color: #151522 !important;
}

.cl-formFieldInput{
  background-color: transparent !important;
}

.cl-formFieldInput:focus{
  box-shadow: none !important;
}
 /* overwrite css end  */


.button-gradient{
  background-image:  linear-gradient(94.4deg, #7000ff, #0c65c2);
}

/* .button-gradient-2{
  background:linear-gradient(90deg, #9064da 0, #2171e0 49.37%, #844eb4 101.93%) !important;
} */



.button-gradient-2{
letter-spacing: 1px;
  background: linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%) !important;
  color: #fff !important;

}


.border-imaged-element {
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  border-image: 
    linear-gradient(
      to right, #13a338 0%, #1f3876 100%
    ) 4 4 4 4 stretch; /* Adjust the slice values to apply to all sides */
}


.border-gradient-rounded {
  /* Border */
  border: 2px solid transparent;
  border-radius: 20px;
  background: 
    linear-gradient(to right, #140E2D, rgb(22, 21, 21)), 
    linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  
}

.bg-black\/80 {
  background-color: rgb(0 0 0 / 0.5);
}



.text-violet-gradient{
  background: linear-gradient(90deg, rgb(232, 85, 222) -26.01%, rgb(84, 0, 238) 121.7%) text;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}



.bubble {
  position: relative;
 
  /* background: red; */

}

.bubble::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  transform: rotate(180deg);
  right: -29px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #441760;
   
}

.agent-sidebar-item{
  align-items: center;
    font-weight: 400;

   line-height: 24px; 
   text-decoration: none;
    border-radius: 8px;
    color: #817691 !important;
    padding: 10px 14px;
font-weight: 600;
    font-style: normal;
    box-shadow: 0 20px 50px 0 transparent !important;
}

.active-tab{
  position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .05), transparent) !important;
    box-shadow: 0 20px 50px 0 rgba(191, 21, 108, .05) !important;
    color: #fff !important;
}

.active-tab .item-name{
  background: linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



.active-tab  .item-icon-conatiner{
  color: #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%);

}


.active-tab::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background: linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%);
  z-index: 1000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.charecter textarea{
  resize: none;
}

.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden{
  visibility: visible !important;
}


.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-image {
  width: 100px;
  border-radius: 6px;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #4caf50;
}

.timeline-event {
width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-event-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event-date {
  font-size: 14px;
  color: #666;
}

.event-details {
  flex-grow: 1;
  margin-left: 20px;
}

.timeline-connector {
  position: absolute;
  top: 107%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
  z-index: 1;
}

.otp-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #dfe6e9;
  padding: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.EZDrawer .EZDrawer__container{
  background-image: linear-gradient(to top, rgba(16, 28, 39, 0.08), #101C27) !important;
}


/* .bg-black\/80{
 display: none;
} */

/* swal css  */
.swal2-modal {
  background-color: #150f2d !important;
  color: white !important;
}

.heading-color{
  font-size: 1.1rem;
    background: linear-gradient(98deg, rgb(234, 170, 255) 15.56%, rgb(181, 172, 255) 92.85%) text;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
}