.dashboard {
    background-color: #000000;
    position: relative;
}

.dashboard::before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 1200px;
    height: 580px;
    bottom: 50%;
    left: -37%;
    opacity: .32;
    background: linear-gradient(252.93deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
    filter: blur(142.5px);
    -webkit-filter: blur(142.5px);
    will-change: filter;
    transform: rotate(-21.23deg);
}

.dashboard::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: 700px;
    height: 460px;
    left: 40%;
    top: 0;
    opacity: .32;
    transform: rotate(-50.41deg);
    /* transform: rotate(-20.41deg); */
    bottom: 10%;
    right: -25%;
    background: linear-gradient(252.93deg, #d054ce 33.59%, #0092f4 59.88%, #20dc86 87.87%);
    filter: blur(142.5px);
    -webkit-filter: blur(142.5px);
    will-change: filter;
}